<div class="">
<img src='{{this.flags.svg}}' height='50' width='50' class='/' />
<p>{{this.name.official}}</p>
</div>
<p><b>Capital</b>: {{this.capital}}</p>
<p><b>Population</b>: {{this.population}}</p>
<p><b>Languages</b>: {{this.languages}}</p>